<form 
    method="POST" 
    action="/api/signup"
    enctype="application/x-www-form-urlencoded"
    id="singup-main-form"
>
    <label 
        for="input-login-main-page"
    >
        Login (email)
    </label>
    <div>
        <input 
            id="input-email-singup-page"
            type="email"
            placeholder="Login email"
            value=""
            name="email"
        >
    </div>
    <label 
        for="input-login-main-page"
    >
        Password
    </label>
    <div>
        <input 
            id="input-password-singup-page"
            type="password"
            value=""
            name="password"
        >
    </div>
    <label 
        for="input-login-main-page"
    >
        Name
    </label>
    <div>
        <input 
            id="input-name-singup-page"
            type="text"
            value=""
            name="name"
        >
    </div>
    <label 
        for="input-login-main-page"
    >
        Contact Phone
    </label>
    <div>
        <input 
            id="input-phone-singup-page"
            type="tel"
            value=""
            name="phone"
        >
    </div>
    
    <button id="send-register-form-btn">Register</button>
</form>

<p><a href="/singin">Login</a></p>